<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.OrderMapper">

    <insert id="add">
        insert into `order` (order_name,order_price,order_user_id)
        values (#{order1.orderName},#{order1.orderPrice},#{order1.orderUserId})
    </insert>

    <delete id="del">
        delete from `order`
        where order_id=#{oid}
    </delete>

    <update id="update">
        update `order`
        set order_name=#{order2.orderName}
        where order_id=#{order2.orderId}
    </update>

    <resultMap id="f" type="com.example.order.Order">
        <id property="orderId" column="order_id"></id>
        <result property="orderName" column="order_name"></result>
        <result property="orderPrice" column="order_price"></result>
    </resultMap>

    <select id="findById" resultMap="f">
        select order_id,order_name,order_price
        from `order`
        where order_id=#{oid}
    </select>
</mapper>